html{
    overflow: hidden;
}

.row button, .row a, .row h4{
    width: auto;
    float: left;
    margin-left: 10px;
}

.header{
    margin: 1rem 0;
}

.alert{
    position: fixed;
    right: 2rem;
}

.noContent{
    width: 100%;
    background: #eee;
    padding: 1rem 1.4rem;
}

.modal-title{
    text-align: center;
}